{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">

<!-- Initial Setup-->
{% include 'partials/_GBOtemplate_initsetup.html' %}


<!-- BODY STARTS HEREEE -->

<body class="home page-template page-template-page-templates page-template-front-green page-template-page-templatesfront-green-php page page-id-4 give-recurring topbar">

<!-- Header-->
{% include 'partials/_GBOtemplate_header.html' %}


<!-- Actual content: -->

<div class="main-container">

		<main class="main-content">

	<div class="entry-content">


{% block content %} 
<h1 id="mustang2-startup-and-observing-notes">Joy Skipper</h1>
<h3> Scientific Data Analyst at the Green Bank Observatory </h3>
<h4> 304-456-2379 <h4>
<h4> jskipper@nrao.edu <h4>

<p> Link to GitHub Page: <a href="https://github.com/JoySkipper"> JoySkipper GitHub Page </a> </p>
<p> Link to MUSTANG guide: <a href="mustang_setup_and_run.html"> MUSTANG setup and run notes </a> </p>
<p> Link to preliminary changes to RFI public database: <a href="rfi.html"> RFI public database </a> </p>
{% endblock %}
</div>
</main>
</div>

<!-- Footer-->
{% include 'partials/_GBOtemplate_footer.html' %}

</body>
</html>