{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <!-- Loading widget while the page accesses the database -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #8557A3;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      margin:auto;
      padding: 10px;
      display:none;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    /* Hide until it is called by the fxn */
    .hide-loader{
        display:none;
    }
    </style>
</head>

<h1>Data Retrieval</h1>

<!-- Breadcrumb -->

<section id="bc" class = "mt-3">
    <div class = "container">
        <nav aria-label="breadcrumb">
                    <a href="{% url 'index' %}">
                        Back to Search
                    </a> 
        </nav>
    </div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Import Jquery, a library that ajax is a part of-->

<div class="loader" id="myloader"></div>

<!-- Creating the different texts based on the loading situation, and then hiding them to wait to be called -->
<div id="loading_text" style="display:none; text-align: center;">
    <br><br>
    <h3>Getting your data from the database. Please wait, this may take some time.</h3>
</div>
<div id="error_text" style="display:none; text-align: center;">
        <h3>Something went wrong with retrieving your data. Please try again.</h3>
    </div>
<div id="return_text" style="display:none; text-align: center;">
    <br><br>
    <h3>Your data has been retrieved. You should have received a prompt to download your files.</h3>
    <br><br>
</div>




<br><br><br><br><br><br>

<!-- Create box for interactive graphs of data. Empty for now. -->
<div id="tester" style="width:800px;height:600px;border: 5px solid purple; padding: 100px; margin:auto; background-color: lightgrey;text-align:center;">
    <br><br><br><br><br><h3>Interactive graphs of data coming soon!</h3>
</div>
<br><br>


  <script>

        /* Creating the necessary variables. Download on click. Get variables from the url */
        var Download = 
        {
            click : function(node) {
                var ev = document.createEvent("MouseEvents");
                ev.initMouseEvent("click", true, false, self, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                return node.dispatchEvent(ev);
            },
            encode : function(data) {
                    return 'data:application/octet-stream;base64,' + btoa( data );
            },
            link : function(data, name){
                var a = document.createElement('a');
                a.download = name || self.location.pathname.slice(self.location.pathname.lastIndexOf('/')+1);
                a.href = data || self.location.href;
                return a;
            }
        };
        Download.save = function(data, name)
        {
            this.click(
                this.link(
                    this.encode( data ),
                    name
                )
            );
        };

        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }

        function getUrlParam(parameter, defaultvalue){
            var urlparameter = defaultvalue;
            if(window.location.href.indexOf(parameter) > -1){
                urlparameter = getUrlVars()[parameter];
                }
            return urlparameter;
        }
        
        
        
        
  </script>
<script> src='js/node_modules/url-parse/dist/url-parse.min.js' </script>

  <script>
        window.onload = function(){submit_ajax()};
        // Once the page has loaded you want to submit the ajax script
    
    
        function submit_ajax(){
            // Show the loading icon
            $('#myloader').show();
            $('#loading_text').show();  
            console.log(window.location.href)
            var url = window.location.href
           
            // let the user know that you're doing something
            $.ajax({
                url:"django_save_me",
                //calls the django_save_me view
                type: "GET",
                //getting data, defines the http request type
                //assumes a max possible frequency of 100,000 GHz
                data:{
                    'url': url,
                },
                // the data you submit with your request (in our case, we'd want to submit our frequency ranges and such to download)
    
                success: function(response) {
                    $('#myloader').hide();
                    $('#loading_text').hide(); 
                    $('#return_text').show();                
                    Download.save(response,"RFI_data.txt")
                    return response;
                    // on success, we will download the data and show successful return text
                },
    
                error : function(xhr,errmsg,err){
                    $('#myloader').hide();
                    $('#loading_text').hide();
                    $('#error_text').show();
                    // on failure, let the user know there's an error
                }
                
            }); 
            
        };    
        
        
        </script>


{% endblock %}